* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  min-height: 765px;
  background: url("../assets/img/intro.jpg") center top no-repeat;
}

.header {
  height: 90px;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-items {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}

.logo, .button_login {
  margin-top: 3px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 4px;
  padding: 0;
  font-size: 16px;
  line-height: 15px;
}

.nav__link {
  padding: 0 42px 0 0;
  text-decoration-line: none;
  color: #ffffff;
  transition: .2s;
}

.nav__link:hover {
  color: #0D606F;
}


.button {
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border: none;
  border-radius: 10px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 24px;
  line-height: 48px;
  color: #FFFFFF;
}

.button_login {
  width: 103px;
  height: 41px;
  font-size: 16px;
  line-height: 20px;
}

.button_arrow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 226px;
  margin: 40px auto 0 auto;
  padding: 23px;

}


.preview {
  font-family: 'Aleo', serif;
  padding-bottom: 254px;
}

.h1 {
  margin: 32px 0 0 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.preview__descr {
  margin-top: 33px;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.preview-form {
  display: flex;
  align-items: center;
  width: 892px;
  height: 95px;
  margin-top: 46px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 16px;
}

.preview-input {
  width: 646px;
  height: 95px;
  box-sizing: border-box;
  padding: 41px;
  border: none;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0);
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  outline:none;
  color: #0D606F;
}
.preview-input::placeholder {
  color: #F2785C;
}


.title {
  margin: 0 auto;
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #F2785C;
}

.steps {
  min-height: 424px;
  padding: 80px 0 97px 0;
  background: #FFFFFF;
}

.steps__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  padding: 0 12px 0 10px;
}

.steps__item {
  width: 33%;
}
.steps__item:nth-child(2) {
	display: flex ;
	justify-content: center;
}
.steps__item:nth-child(3) {
	display: flex ;
	justify-content: flex-end;
}

.steps__item_wishes {
  width: 248px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.steps__item_dates {
  width: 223px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.steps__item_recommendations {
  width: 318px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.steps__icon {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #F2785C;
  border-radius: 16px;
}

.steps__svg {
  display: inline-block;
  width: 52%;
}

.steps__svg_recommendations {
  width: 60%;
}

.steps__subtitle {
  display: inline-block;
  margin-top: 30px;
  font-family: 'Aleo';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}


.destinations {
  min-height: 1042px;
}

.slaider {
  margin: 47px auto 23px auto;
  max-width: 1440px;
  height: 800px;
  overflow: hidden;
}

.slaides {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2580px;
  height: 800px;
  transition: all ease 1s;
}

.slide {
  position: relative;
}

.slide__img {
  margin: 0 30px;
  width: 800px;
  border-radius: 16px;
}

.slide__descr {
  position: absolute;
  top: 720px;
  left: 46px;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px auto;
  width: 80px;
  height: 20px;
}

.control {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}

.control_center {
  background: rgba(242, 120, 92, 1);
}